article
	div.parallax
		div.parallax-bg
		div.contents
			div.content(style="background: blue")
			div.content(style="background: red")
			div.content(style="background: yellow")
			div.content(style="background: pink")
			div.content(style="background: green")
			div.content(style="background: purple")
			div.content(style="background: pink")
			div.content(style="background: red")
	div.actions
		span.action.gorigth <-
		span.action.goleft ->

link(href='/css/parallax.css', rel='Stylesheet')
script(src='/scripts/labs/parallax/parallax.js')