article
	div.parallax
		div.parallax-bg
		div.contents
			div.content(style="background: blue", data-id="0")
			div.content(style="background: red", data-id="1")
			div.content(style="background: yellow", data-id="2")
			div.content(style="background: pink", data-id="3")
			div.content(style="background: green", data-id="4")
			div.content(style="background: purple", data-id="5")
			div.content(style="background: pink", data-id="6")
	div.actions
		span.action.gorigth <-
		span.action.goleft ->

link(href='/css/parallax.css', rel='Stylesheet')
script(src='/scripts/labs/parallax/parallax.js')