article
	link(href='/css/techs.css', rel='Stylesheet')
	
	p(style="margin-top: 0px;") Grâce à mes expériences professionnelles, scolaires et personnelles j'ai acquis diverses compétences que vous allez pouvoir découvrir. C'est pour moi l'occasion de donner mon point de vue sur ce que représentent ces compétences, la manière dont je les ai acquises et les qualités qui font que je suis performant dans celles-ci.
	
	h2 Conception et développement d'applications
	p 1. Qu'est-ce que le développement d'appliation en général. Qu'est-ce que cela implique.
	p 2. Introduction à la liste de mes compétences.

	ul
		li 
			a(href="skills/needs") Analyser les besoins clients
		li 
			a(href="skills/help") Accompagner la conception et la réalisation d'un projet logiciel
		li 
			a(href="skills/design") Concevoir une architecture logicielle
		li 
			a(href="skills/drive") Conduire un projet
		li 
			a(href="skills/realize") Piloter la réalisation technique
	
	h3 Technologies
	p En ma qualité de <i>développeur enthousiaste</i> j'essaie de garder l'esprit ouvert à d'autres horizons. Je suis de par ma formation spécialiste des technologies Microsoft et du framework .NET, cependant j'aime découvrir et essayer de nouvelles technologies et plateformes. Par exemple ce site est réalisé avec le framework ExpressJS, est écrit en Javascript côté serveur, hebergé par un serveur NodeJS. Pour en savoir plus sur mes découvertes je vous invite à visiter la section <a href="/labs">labs</a> dans laquelle je regroupe mes dernières expériences (qui d'ailleurs restent au niveau d'expériences ... donc plus ou moins stables, à utiliser avec précautions).
	p De plus, toujours dans cette optique d'ouverture et afin de prolonger ma formation en dehors de l'école, je participe régulièrement à des rassemblements de développeurs et architectes. Les conférences organisées notamment par le user group <a href="#" target="_blank">ALT.Net</a> m'ont permis de découvrir avec des gens très compétents des domaines qui m'étaient encore inconnus. C'est par ce biais que j'ai eu l'occasion de faire mes premiers pas avec Git, d'etre sensibilisé aux problématiques du NoSQL ou encore de découvrir les langages Eiffel ou Clojure.
	p Voici une synthèse des différentes technologies et langages que je maitrise. Elles sont divisées en trois catégories représentant les trois domaines dans lesquel j'intervient le plus souvent : <i>serveur</i> pour la programmation de workflow ou d'applications web ; <i>client léger</i> pour tout ce qui concerne les développements d'interfaces riches (RIA) ; et <i>client lourd</i> pour tout ce qui concerne les application dites de bureau.
	
	h4 Server
	div.section.server(style="padding-left: 0px;")
		div.tech.sql <span>Sql</span>
		div.tech.nosql <span>NoSql</span>
		div.tech.mvc <span>MVC</span>
		div.tech.webforms <span>WebForms</span>
		div.tech.c <span>.NET Framework (C#)</span>
		div.tech.git <span>Git, Mercurial, SVN</span>
	
	h4 Client léger
	div.section.light
		div.tech.html5 <span>HTML5</span>
		div.tech.css3 <span>CSS3</span>
		div.tech.frameworks <span>Frameworks (ExtJs, JQuery, ...)</span>
		div.tech.js <span>JS</span>
		div.tech.git <span>Git, Mercurial, SVN</span>
		
	h4 Client lourd
	div.section.heavy
		div.tech.wpf <span>WPF</span>
		div.tech.wf <span>WinForms</span>
		div.tech.mvvm <span>Mvvm (Caliburn.Micro)</span>
		div.tech.c <span>.NET Framework (C#)</span>
		div.tech.git <span>Git, Mercurial, SVN</span>

	h2 Compétences transverses
	p 1. Que trouves-t-ont dans mes compétences tranverses, et à quoi elle servent ?
	p 2. Introduction aux compétences tranverses

	ul
		li 
			a(href="skills/train") Former