article
	h2 Compétences !
	p Le metier que je fait, et ce que je vise

	p Pour cela, je sais :
	ul
		li 
			a(href="skills/needs") Analyser les besoins clients
		li 
			a(href="skills/help") Accompagner la conception et la réalisation d'un projet logiciel
		li 
			a(href="skills/design") Concevoir une architecture logicielle
		li 
			a(href="skills/drive") Conduire un projet
		li 
			a(href="skills/realize") Piloter la réalisation technique
		li 
			a(href="skills/train") Former

	h2 Technologies
	ul
		li Serveur
			ul
				li C#
				li SQL (SQL Server)
				li NoSQL (RavenDB)
				li ASP.NET Mvc
				li WebForms
		li Client léger
			ul
				li JS
					ul
						li Natif
						li Framework ExtJS 3 & 4
						li Framework JQuery
				li Html5
				li Css3
					ul
						li Less / Sass
		li Client lourd
			ul
				li C#
				li WPF 3 & 4
				li MVVM (Caliburn.Micro)
		li Gestion de code source
			ul
				li Centralisé (svn)
				li Distribué (git, mercurial)