.wrapper
{
	margin-top: 100px;
	height: 364px;
	overflow: hidden;
}
.container
{
	position: relative;
	/* Enough to contain 3 .page */
	width: 11886px;
}
.page
{
	position: absolute;
	display: inline-block;
	
	border: 1px solid red;
	background: #eee;
	
	/* Enough to contain 11 .item */
	width: 3960px;
}
.item
{
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 30px;
	background: grey;
}
.p1{ left: 0; }
.p2{ left: 3960px; }
.p3{ left: 7920px; }