div#squares

link(href='/css/labs/squarenode.css', rel='Stylesheet')
script(src='/scripts/labs/squarenode/socket.io.min.js')
script(src='/scripts/labs/squarenode/jquery.event.drag-1.5.min.js')
script(src='/scripts/labs/squarenode/squarenode.js')