div.wrapper
	div.navleft
	div.navright
	div.container
		div.page.p1
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
		div.page.p2
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
		div.page.p3
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item
			div.item


link(href='/css/infinitescroll.css', rel='Stylesheet')
script(src='/scripts/labs/infinitescroll/infinitescroll.js', type='text/javascript')