<article><h2>Mise en pratique</h2><p>Voici la synthèse de mes principales expériences professionnelles. Je vous les présente ici pour soutenir mes <a href="/skills">compétences</a>. Elles ont été réalisées tout au long de mon parcours professionel au sein de la société Invenietis.</p><p>J'ai essayé pour chaque expérience de décrire de façon succincte le contexte du projet, et la mission pour laquelle je suis intervenu. Cependant n'hésitez pas à cliquer sur <i>en savoir plus</i> pour lire le détail du projet, du contexte dans lequel j'y ai participé et comment.</p><p>Cette liste est ordonnée chronologiquement, vous pouvez donc en déduire une partie de mon parcours. Si vous souhaitez plus d'informations sur mon parcours, rendez vous à la section <a href="/about/career">mon parcours</a>&nbsp;de ce portfolio. </p><p>Enfin, je viens régulièrement étoffer cette liste, afin de la garder à jour autant que possible. N'hésitez donc pas à revenir régulièrement pour y consulter les mises à jour.</p></article>
	
article
	h2 CiviKey
	p CiviKey est un clavier visuel à destination des personnes en situation de handicap. Sa conception, son architecture technique, ainsi que les différents acteurs qui le soutiennent en font un produit important pour la société Invenietis. <a href="/experiences/civikey">En savoir plus sur CiviKey</a>.
	h2 BeApart
	p BeApart est un site web développé sur le framework Cuke. Ce site propose des appartement en location de courte durée dans différentes villes d'Europes. <a href="/experiences/beapart">En savoir plus sur BeApart</a>.
	h2 Whirlpool
	p Le projet <i>Wish tree</i> est un site web promotionnel réalisé à l'occasion des 100 ans de la marque Whirlpool. <a href="/experiences/whirlpool">En savoir plus sur ce projet</a>.
	h2 Martini
	p Le projet réalisé pour la marque Martini est, comme le projet Whirlpool, une opération commerciale visant à rechercher sur Facebook le prochain acteur de la publicité de la marque. Ce projet a été réalisée par deux équipes différentes, la notre en France, et une équipe d'intégrateurs en Pologne. <a href="/experiences/martini">Détails du projet</a>.
	h2 Esiea - Aristote
	p Aristote est le nom de code d'un projet proposé par le Groupe ESIEA, visant à informatiser le processus de candidatures des étudiants postulants à l'école IN'TECH INFO ou ESIEA. <a href="/experiences/esiea">En savoir plus sur Aristote</a>.
	h2 TalentSoft
	p Mission de 4 jours en régie au sein de la société TalentSoft. <a href="/experiences/talentsoft">En savoir plus sur cette mission</a>.
	h2 Windows Campus Program
	p Dernier projet promotionnel en date, le projet Windows Campus Program est un projet commandité par Microsoft afin de promouvoir leurs offres pour la migration de Windows 7 à 8. Ce site web permettait en plus de naviguer parmis les meilleurs ordinateurs ultraportables du marché et d'accéder à des offres préférentielles. <a href="/experiences/windows-campus-program">Détails du projet</a>.
	h2 Invenietis
	p Enfin <i>Invenietis</i> n'est pas un projet à part entière, cependant je souhaitait quand même présenter les différentes évolutions internes que j'ai réussi à déclencher et comment. De plus, cette partie me permet aussi de vous présenter plus en détails ma société ainsi que mon implication au sein de celle-ci. <a href="/experiences/invenietis">Tout savoir sur Invenietis</a>.