<article><h2>Mise en pratique</h2><p>Voici la synthèse de mes principales expériences professionnelles. Je vous les présente ici pour soutenir mes <a href="/skills">compétences</a>. Elles ont été réalisées tout au long de mon parcours professionel au sein de la société Invenietis.</p><p>J'ai essayé pour chaque expérience de décrire de façon succincte le contexte du projet, et la mission pour laquelle je suis intervenu. Cependant n'hésitez pas à cliquer sur <i>en savoir plus</i> pour lire le détail du projet, du contexte dans lequel j'y ai participé et comment.</p><p>Cette liste est ordonnée chronologiquement, vous pouvez donc en déduire une partie de mon parcours. Si vous souhaitez plus d'informations sur mon parcours, rendez vous à la section <a href="/about/career">mon parcours</a>&nbsp;de ce portfolio. </p><p>Enfin, je viens régulièrement étoffer cette liste, afin de la garder à jour autant que possible. N'hésitez donc pas à revenir régulièrement pour y consulter les mises à jour.</p></article>
	
article
	h2 CiviKey
	p Description et <a href="/experiences/civikey">lien</a>.
	h2 BeApart
	p Description et <a href="/experiences/beapart">lien</a>.
	h2 Whirlpool
	p Description et <a href="/experiences/whirlpool">lien</a>.
	h2 Martini
	p Description et <a href="/experiences/martini">lien</a>.
	h2 Esiea - Aristote
	p Description et <a href="/experiences/esiea">lien</a>.
	h2 TalentSoft
	p Description et <a href="/experiences/talentsoft">lien</a>.
	h2 Windows Campus Program
	p Description et <a href="/experiences/windows-campus-program">lien</a>.
	h2 Invenietis
	p Description et <a href="/experiences/invenietis">lien</a>.