article

	h2 Invenietis
	
	h3 Présentation de la société
	p Nulla dolor lacus, hendrerit non condimentum ac, iaculis id velit. Proin vulputate ipsum in nisi dapibus vulputate. Ut rhoncus, lorem fringilla gravida blandit, ligula mauris laoreet lectus, id pretium eros tortor in mauris. Nullam sagittis feugiat dui ac aliquam. Sed tortor mi, rutrum ut aliquam ac, molestie eu augue. Suspendisse nisi massa, porttitor sed pellentesque ut, luctus nec odio. Donec varius nibh non felis tincidunt ut consectetur dolor consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut dui eu est mollis consectetur ut quis sapien. Sed tincidunt, leo sed pulvinar aliquam, libero lacus tempus augue, at accumsan augue orci quis eros.
	
	h3 Mon implication
	p Nulla dolor lacus, hendrerit non condimentum ac, iaculis id velit. Proin vulputate ipsum in nisi dapibus vulputate. Ut rhoncus, lorem fringilla gravida blandit, ligula mauris laoreet lectus, id pretium eros tortor in mauris. Nullam sagittis feugiat dui ac aliquam. Sed tortor mi, rutrum ut aliquam ac, molestie eu augue. Suspendisse nisi massa, porttitor sed pellentesque ut, luctus nec odio. Donec varius nibh non felis tincidunt ut consectetur dolor consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut dui eu est mollis consectetur ut quis sapien. Sed tincidunt, leo sed pulvinar aliquam, libero lacus tempus augue, at accumsan augue orci quis eros.
	
	h3 Ce que j'ai changé et ce sur quoi j'ai travaillé
	
	ul
		li Git
		li Les "conférences en interne"
		li Methodologie Kanban et Trello
		li GetPackage (réorientation autour de NuGet)

include _footer