article

	h2 Windows Campus Program
	
	h3 Présentation
	p Le projet Windows Campus Program est assez proche du projet Whirlpool. Ces deux projets ont été pilotés par l'agence web Rouge, pour des opérations promotionnelles, pour un grand compte.
	p Ici c'est Microsoft qui souhaitait mettre en avant la gamme de PC "ultra books" des grands constructeurs du marché. Afin de rendre le site attrayant un jeu concours a été réalisé pendant toute la durée de l'opération. L'agence Rouge avait monté pour l'occasion un partenariat avec le site MonShowroom.com afin de faire gagner des vetements. Le jeu concours était simple, il suffisait de composer son look (5 vétements et un PC ultraportable) et voir si nous avions remporté notre look.
	p Le site est toujours en ligne, mais le jeu concours est cloturé depuis le 1er aout 2012. Cependant il est encore possible de naviguer parmis les ordinateurs mis en avant sur le site.
	
	h3 Ma place dans le projet
	p Comme pour Aristote, j'ai occupé le poste chef de projet sur Windows Campus Program. J'ai donc suivi les mêmes étapes que pour mon projet précédent. Cependant à la différence d'Aristote je n'était pas seul à la réalisation technique : deux développeurs de la société Invenietis devaient s'occuper de cette partie.
	p En pratique le début du projet s'est déroulé comme les précédents, avec simplement une phase de spécifications assez courte car Rouge avait déjà une idée bien précise de la solution attendue. La difficulté a plutot été la réalisation technique.
	p C'était la première fois que nous tentions un projet dont le chef de projet n'était pas le leader technique. J'ai commencé par mettre en place l'architecture générale, et ai ensuite simplement découpé les tâches à effectuer et les ai attribuées aux deux développeurs travaillant sous ma tutelle.
	p Un manque d'anticipation de ma part ainsi qu'une trop grande confiance on fait que nous nous sommes retrouvé dans une position assez délicate à 2 semaines de la livraison du site. Nous avons donc travaillé avec Guillaume Fradet, presque nuit et jour, jusqu'à la livraison pour que nous puissions livrer dans les temps.
	p Finalement le projet a été livré dans les temps, et conforme aux spécifications. 
	
	h3 Compétences et technologies liées
	p Les compétences engagées sont bien evidemment les mêmes que pour le projet Aristote. Par contre ce projet m'a fait réfléchir par rapport à ma capacité à manager des développeurs.
	p J'avais tendance à faire confiance, sur parole, de l'avancement de la réalisation. Finalement cet excès de confiance m'a a faillit nous faire rater le projet. A l'avenir je serait un peu plus présent auprès des équipes que je devrait gérer. Je responsabiliserais plus mes personnes auquelles je délèguerais des tâches importantes comme la réalisation technique.

include _footer