article
	h2 Pourquoi ce portfolio ?
	p L'école <a href="http://www.intechinfo.fr" target="blank">IN'TECH INFO</a> est à l'origine de ce projet, le portfolio s'avère en effet nécessaire à l'obtention du diplôme d'<b>Expert en ingénierie du logiciel</b>. 
	p Au delà de cette nécessité, le portfolio constitue surtout un moyen mettre en perspectives mes <a href="/references">références</a> en vous présentant mes <a href="/experiments">expériences</a> professionnelles et mes <a href="/skills">compétences</a>. Il vous permettra de mieux entrevoir ma personnalité et mes centres d'intérêt qu'un simple CV, comme par exemple grâce aux éléments de la section <a href="/labs">labs</a>.

	h2 A propos de moi
	h3 Mon parcours 
	p En savoir plus <a href="/about/career">voir en détails</a>
	h3 Attributs
	p Marguerite
	h3 Hobbies
	p Escalade, moto. Pourquoi ?