article
	h2 Pourquoi ce portfolio ?
	p Ce portfolio a pour principal objectif de me présenter de façon plus personnelle qu'un banal CV, d'y développer mes compétences supportées par mes réalisation, et d'y lister mes différentes références. C'est pour moi un moyen plus convivial et complet de présenter mon travail et ma personalité.
	p Ensuite ce portfolio est aussi une base pour l'évaluation de fin de second cycle (infologue) de l'école <a href="http://www.intechinfo.fr" target="blank">IN'TECH INFO</a>. Cycle sanctionné par un diplôme d'<b>Expert en ingénierie du logiciel</b>.

	h2 A propos de moi
	h3 Mon parcours 
	p En savoir plus <a href="/about/career">voir en détails</a>
	h3 Attributs
	p Marguerite
	h3 Hobbies
	p Escalade, moto. Pourquoi ?