article
	link(href='/css/timeline.css', rel='Stylesheet')
	div.timeline
		div.timeblock.right
			div.content Embauche en CDI au sein de la société Invenietis, et nommination en tant que chef d'équipe.
			div.date 2012 
			div.clear
		div.timeblock.left.important
			div.content Fin de cycle alternance à l'école IN'TECH INFO (BAC+5).
			div.date 2012 
			div.clear
		div.timeblock.right.inv
			div.content Prise en charge du projet <a href="/experiences/invenietis">GetPackage</a> (produit Invenietis)
			div.date 2012 
			div.clear
		div.timeblock.left.inv
			div.content Prise en charge du projet <a href="/experiences/windows-campus-program">Windows Campus Program</a>
			div.date 2012 
			div.clear
		div.timeblock.right.inv
			div.content Mission en régie chez <a href="/experiences/talentsoft">TalentSoft</a>
			div.date 2012 
			div.clear
		div.timeblock.left.inv
			div.content Prise en charge du projet <a href="/experiences/esiea">Aristote</a> (Groupe ESIEA)
			div.date 2011 
			div.clear
		div.timeblock.right.inv
			div.content Mission sur le projet <a href="/experiences/whirlpool">Whirlpool</a>
			div.date 2011 
			div.clear
		div.timeblock.left.inv
			div.content Mission sur le projet <a href="/experiences/martini">Martini</a>
			div.date 2011 
			div.clear
		div.timeblock.right.inv
			div.content Sortie d'une version majeure du noyau de <a href="/experiences/civikey">CiviKey</a>
			div.date 2010 
			div.clear
		div.timeblock.left.important
			div.content Entrée en cycle alternance à Invenietis, obtention du diplôme <b>technologue</b> (BAC+3)
			div.date 2010 
			div.clear
		div.timeblock.right.inv
			div.content Mission sur le projet <a href="/experiences/beapart">2BeApart</a>
			div.date 2009 
			div.clear
		div.timeblock.right.inv
			div.content Travail sur le projet RoBIK avec le CICIT
			div.date 2009 
			div.clear
		div.timeblock.left.important
			div.content Entrée en stage à Invenietis
			div.date 2009 
			div.clear
		div.timeblock.right.itiproject
			div.content Second semestre en tant que chef de projet sur <a href="/experiences/civikey">CiviKey</a>
			div.date 2009 
			div.clear
		div.timeblock.right.itiproject
			div.content Premier semestre en tant que chef de projet sur <a href="/experiences/civikey">CiviKey</a>
			div.date 2008 
			div.clear
		div.timeblock.left.important
			div.content Entrée à l'école IN'TECH INFO
			div.date 2007 
			div.clear
		div.timeblock.right
			div.content Première année de Licence SVT-SCB
			div.date 2007
			div.clear
		div.timeblock.left
			div.content Obtention du baccalauréat Scientifique option Physique Chimie.
			div.date 2006 
			div.clear