article

	h2 Bienvenue

	p Bienvenue sur mon Portfolio en ligne.
	P Ce portfolio a pour objectif principal de me présenter de façon plus personelle qu'un simple CV. Vous retrouverez donc les différentes facettes de ma personnalité aux travers de mes <a href="/skills">compétences</a>, <a href="/experiences">expériences</a> et <a href="/references">références</a>.
	p Pour bien commencer pourquoi ne démarrer par la section <a href="/about">à propos</a>.
	p Enfin si vous souhaitez plus d'informations n'hésitez pas à me contacter par <a href="mailto:antoine.blanchet@gmail.com">email</a>, ou suivez moi sur <a href="https://twitter.com/#!/AntoineB0" target="blank">Twitter</a> ou <a href="http://fr.linkedin.com/in/blanchetantoine" target="blank">LinkedIn</a>.
	p Bonne visite.