article

	h2 SquareNode
	p SquareNode est une première mise en pratique du module Socket.io dans une application NodeJS. Lorsque vous rejoignez l'application votre square apparait, et vous pouvez ensuite le déplacer. Chaque déplacement est ensuite répercuté chez tous les autres clients.
		a(href='/labs/squarenode').button Accéder à l'application

article

	h2 Other 1
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac est non purus ultrices congue nec vel purus. Donec nec nisl nunc, a auctor quam. Nulla hendrerit massa tortor. Etiam mi ante, rutrum molestie adipiscing ac, pellentesque eu leo. Aenean a ligula enim, non rhoncus felis. Vestibulum semper justo sed dolor mattis porttitor. Pellentesque et quam urna. Curabitur tristique odio et magna ullamcorper hendrerit. Aliquam mauris eros, porta non ornare ac, dictum eget purus. Nullam vehicula, risus a iaculis vulputate, augue felis auctor leo, a mollis eros ipsum vitae enim. Curabitur libero sapien, sodales vitae blandit ac, blandit bibendum dolor. Morbi ut massa libero, ac consectetur dui. Donec vel nisl at leo ullamcorper ornare nec vel metus. Phasellus ut tellus lacus. In nec dolor nisl, in gravida sapien.
		a(href='/').button Accéder à l'application

article

	h2 Other 2
	p Phasellus orci leo, consequat eu iaculis sed, tempus nec urna. Ut id leo sit amet lacus pellentesque gravida nec non lorem. Ut condimentum diam id felis feugiat pellentesque. In turpis dui, mollis sed cursus ut, mattis nec eros. In at lacus ut erat laoreet mollis sit amet id turpis. Curabitur luctus lobortis orci, eu laoreet metus porta a. Aliquam facilisis fermentum hendrerit. Ut fringilla tincidunt metus quis condimentum. Duis a dolor erat, ac fringilla magna. Fusce vel hendrerit purus. Pellentesque commodo imperdiet ante, facilisis gravida lectus congue quis. Vestibulum non eros mauris, id sodales arcu. Proin ut tincidunt magna. Vivamus nunc sapien, cursus et lobortis nec, dapibus eget lectus. Curabitur tincidunt nisl non nisi ullamcorper euismod. Quisque massa ligula, adipiscing ac imperdiet vel, scelerisque nec leo.
		a(href='/').button Accéder à l'application