!!! 5
html
	head
		title Antoine Blanchet - Portfolio
		link(href='/css/reset.css', rel='Stylesheet')
		link(href='/fonts/fontface.css', rel='Stylesheet')
		link(href='/css/layout.css', rel='Stylesheet')
		link(href='/css/lib/jquery.fancybox.css', rel='Stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',type='text/javascript')
		script(src='/scripts/lib/jquery.fancybox.pack.js',type='text/javascript')
		script(src='/scripts/liveediting.js',type='text/javascript')
		script(type='text/javascript')
			$(function(){
				$('.fancy').fancybox({
					arrows: false,
					keys: false
				});
			});
	body
		aside
			a(href='/')
				img(src='/img/me.jpg', alt='me')
			div.me
				h1 Antoine Blanchet
				h2 Développeur enthousiaste. Passionné par le web et les nouvelles technologies.
			nav
				ul
					li
						a(href='/about').button À propos
					li
						a(href='/skills').button Compétences
					li
						a(href='/experiences').button Expériences
					li
						a(href='/references').button Références
					li.labs
						a(href='/labs').button Labs
		section
			header
				a.button.startediting.edition(href="javascript:void(0);", data-page="#{view}") Démarrer l'édition
				h3= pageTitle
			div!=body