article
	p Je tiens à remercier toutes les personnes avec qui j'ai eu l'occasion de travailler lors de ma scolarité et mes expériences professionnelles. Et plus en particulier :
	p(style="text-align: center;")
		a(href="http://www.invenietis.com/", target="_blank")
			img(src="/img/thanks/logo.png")
		<br/>
		<br/>
		a(href="http://www.fivetouch.fr/", target="_blank")
			img(src="/img/thanks/fivetouch.png")
		<br/>
		<br/>
		a(href="http://www.naitways.fr/", target="_blank")
			img(src="/img/thanks/naitways.jpg")
		<br/>
		<br/>
		a(href="http://www.intechinfo.fr/", target="_blank")
			img(src="/img/thanks/intech.png")
		<br/>
		<br/>
		a(href="http://groupe.esiea.fr/", target="_blank")
			img(src="/img/thanks/esiea.png")