article

	h2 SquareNode
	p SquareNode est une première mise en pratique du module Socket.io dans une application NodeJS. Lorsque vous rejoignez l'application votre square apparait, et vous pouvez ensuite le déplacer. Chaque déplacement est ensuite répercuté chez tous les autres clients.
		a(href='/labs/squarenode').button Accéder à l'application
		
article

	h2 Parallax
	p Rien à avoir avec NodeJS, simplement une mise en oeuvre d'un effet de parallax en CSS3 entre un fond "full screen" et les élements du premier plan.
		a(href='/labs/parallax').button Accéder à l'application
article

	h2 Infinite Scroll
	p Infinite Scroll est un POC en Javascript permettant de faire défiler de droite à gauche des élements de façon constante et infini. Ce POC a servi de base pour le développement de comportements clients spécifiques sur le projet <a href="/experiences/windows-campus-program">Windows Campus Program</a>.
		a(href='/labs/infinitescroll').button Accéder à l'application